.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: #faf2e8;
}

.lightbulb-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.lightbulb-icon {
  width: 4rem; 
  height: auto;
  object-fit: contain;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.homepage-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
  color: #2d531a;
  font-family: "poppins";
  width: 100%;
}

.homepage-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #6f5d43;
  font-family: "Poppins", sans-serif;
  margin: 4rem 0 2rem 0;
}

.homepage-description span {
  display: block;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.start-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 50px;
  padding: 10px 24px;
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 400;
  border: none;
  border-radius: 50px;
  background-color: #feb7e8;
  color: #2d531a;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.start-button:hover {
  background-color: #FFE5A0;
}

/* Small phones (320px - 500px) */
@media (min-width: 320px) and (max-width: 450px) {
  .homepage-title {
    font-size: 1.8rem;
  }

  .homepage-content {
    padding: 5rem 1.5rem 2rem 1.5rem; 
  }
}

/* Tablet (768px and above) */
@media (min-width: 768px) {
  .homepage-text {
    max-width: 800px;
    padding: 0 2rem 2rem 2rem;
  }

  .homepage-title {
    font-size: 2rem;
  }

  .homepage-description {
    font-size: 1.5rem;
  }

  .button-container {
    margin: 60px 0;
  }

  .start-button {
    min-width: 180px;
    font-size: 1.1em;
  }
}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
  .homepage-text {
    padding: 0 3rem 3rem 3rem;
  }

  .homepage-title {
    font-size: 2.5rem;
  }

  .homepage-description {
    font-size: 1.6rem;
  }

  .start-button {
    min-width: 200px;
    font-size: 1.2em;
  }
}