.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: #D8E6FF;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 1rem; /* Equal padding on top and bottom */
}

.homepage-title {
  font-size: 2rem;
  margin-top: 0; /* No need for negative margin */
  margin-bottom: 4rem;
  margin-top: 4rem; /* Spacing between title and description */
  line-height: 1.4;
  color: #334ED8;
  font-family: "elanor";
  width: 100%;
}

.homepage-description {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #334ED8;
  font-family: "Poppins", sans-serif;
  margin: 0 0 4rem 0; /* Equal margin at the bottom of description */
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem; /* Adds consistent space from description to button */
}

.start-button {
  min-width: 160px;
  min-height: 50px;
  padding: 10px 15px;
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 400;
  border: none;
  border-radius: 50px;
  background-color: #F26749;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.start-button:hover {
  background-color: #c7553b;
  color: white;
}


/* Small phones (320px - 500px) */

@media (min-width: 320px) and (max-width: 450px) {
  .homepage-title {
    font-size: 1.8rem;
  }
}

/* Tablet (768px and above) */
@media (min-width: 768px) {
  .homepage-text {
    max-width: 800px;
    padding: 0 2rem 2rem 2rem;
  }

  .homepage-title {
    font-size: 2rem;
  }

  .homepage-description {
    font-size: 1.5rem;
  }

  .button-container {
    margin: 60px 0;
  }

  .start-button {
    min-width: 180px;
    font-size: 1.1em;
  }
}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
  .homepage-text {
    padding: 0 3rem 3rem 3rem;
  }

  .homepage-title {
    font-size: 2.5rem;
  }

  .homepage-description {
    font-size: 1.6rem;
  }

  .start-button {
    min-width: 200px;
    font-size: 1.2em;
  }
}
