.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D8E6FF;
  }
  
  .signup-box {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
  }
  
  .signup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "poppins";
    font-weight: bold;
    color: #334ED8;  
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #334ED8;
  }
  
  .input-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
  }
  
  .signup-button {
    background-color: #334ED8;
    color: white;
    font-family: "poppins";
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #555;
  }
  
  .create-account {
    margin-top: 20px;
  }
  
  .create-account a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
  }
  