.bounce-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bouncing-lightbulb-image {
  width: 4rem;
  height: 4rem;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}