.chord-button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.chord-button {
  min-width: 120px;
  width: 100%; 
  max-width: 150px;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  background-color: #feb7e8;
  color: #2d531a;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
  font-family: "poppins";
}

.chord-button:hover {
  background-color: #FFE5A0;
}

.chord-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.save-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}

.star-icon {
  font-size: 24px;
  color: #FFD700;
}

.chord-progression-content {
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #faf2e8;
  color: #2d531a;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Poppins";
  white-space: nowrap;
  margin-bottom: 5px;
  z-index: 1000;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.save-button:hover + .tooltip,
.save-button:hover .tooltip {
  display: block;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .chord-button {
    width: calc(50% - 10px); /* 2 buttons per row on larger screens */
    max-width: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .tooltip {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    white-space: normal;
    width: 80%; /* Adjust the width for smaller screens */
    min-width: 150px; /* Set a maximum width for smaller screens */
    text-align: center;
    margin: 0;
    border-radius: 10px;
  }

  .tooltip::after {
    display: none;
  }
}

