.exercise-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 98%; /* Take up more width */
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5px;
}

@media screen and (min-width: 768px) {
  .exercise-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 10px;
  }
}