.word-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.word-content h3 {
  font-size: 1.2rem;
  color: #334ED8;
}

.generate-button {
  min-width: 120px;
  max-width: 300px;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  background-color: #F26749;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "poppins";
  align-self: center; /* Added to center the button */
  margin: 0 auto;
}

.generate-button:hover {
  background-color: #c7553b;
  color: white;
}

.generate-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.save-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.star-icon {
  font-size: 24px;
  color: #F26749;
}

.save-button:hover .star-icon {
  opacity: 0.8;
}